/* Variables should be added in the var.css page */

/* 1.0 HTML ELEMENTS */
/* 1.1 Containers */
/* 1.1.1 Body */

body {
    background-color: var(--bgColor);
    color: var(--fontColor);
    font-family: var(--fBody);
    margin: 0;
    padding-bottom: 80px;
}

main {
    padding-top: 10rem;
    max-width: var(--monitorSize);
    margin: 0 auto;
    min-height: 100vh;
}

main section {
  padding: var(--scaThree);
}

section + section {
  padding-top: 0;
}

main section *:not(hr, a, p):first-child {
  padding-top: 0;
  margin-top: 0;
}

a {text-decoration: none; color: var(--colorBlack)}
/* 1.1.2 Header & Navigation */
header {
    background-color: var(--navColor);
    padding: var(--pxFive);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    position: fixed;
    width: calc(100% - calc(var(--fixFive) * 2));
    z-index: 1000;

    
}

/* // Navigation Items */
header nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

header nav a {
    color: black;
    margin-right: var(--fixFive);
}


header nav a:hover {
    font-family: var(--fhItalic);
}

footer {
  text-align: center;
}

hr {
  height: 3px;
  background: black;
  border: none;
  outline: none;
  margin: 3em 2em;
  position: relative;
}

.dark-theme hr {
  background: var(--colorPink);
}

hr::before, hr::after {
  content: '◆';
  font-size: 24px;
  position: absolute;
  top: -16px;
}

hr::before {
  left: -10px;
}

hr::after {
  right: -10px;
}

section hr {
  margin: 3em 0em;
}


/* 1.1.3 Toggles */
/* Wrapper */
header section {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* Toggle Wrapper */
header section article {
    display: flex; 
    align-items: center;
    justify-self: flex-end;
    margin-left: var(--scaFive);
}

header section article:first-of-type, header nav a:last-of-type {
    margin-left: 0;
    margin-right: 0; 
}

/* Toggle Label */
header section article p {
    display: inline-block;
    color: black;
    margin: 0 0 0 var(--scaFactor);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    flex-shrink: 0;
  }

  .switch p {
      color: black;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorWhite);
    border: 1px solid black; 
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--colorPink);
    border: 1px solid black; 
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--colorBlack);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--colorBlack);;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
/* Making Sliders Round */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* 1.2 Fonts */
h1, h2, h3, h4, h5, header nav a  {
    font-family: var(--fHeading);
}

h1, h2, h3 {
  text-align: center;
}
/* Font Sizes */
h1 {font-size: var(--fixOne);}
h2 {font-size: var(--fixTwo);}
h3 {font-size: var(--fixThree);}
h4 {font-size: var(--fixFour);}
h5, header nav a {font-size: var(--fixFive);}
p {font-size: 1.25rem;}
header article p {font-size: 1rem}



/* Visual Elements */
svg {display: block;}
img {width: 100%;}
.video,
.img {
  position: relative;
  display: block;
  --w: 1;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  background: var(--color-black);
}
.img img,
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
.img[data-contain] img {
  object-fit: contain;
}
.img-caption,
.video-caption {
  padding-top: .75rem;
  line-height: 1.5em;
}

img + figcaption {
  margin-top: var(--scaFactor);
}
/* 2.0 CLASSES */
/* 2.1 Gradients */

.box-shadow {
    box-shadow: 0px 2px 15px #ccc;
}

footer .gradient {
    position: fixed;
    left: 0px !important;
    bottom: 0px;
    width: 100%;
    height: 80px;

    /* Gradient Compatability */
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 62.39%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 62.39%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 62.39%, rgba(255,255,255,0) 100%);
    background: linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 62.39%, rgba(255,255,255,0) 100%);
    
}


/* 2.1 Link Buttons */
.button {
    border: var(--borderStroke);
    padding: var(--scaFive) var(--scaThree);
    border-radius: 50px;
    position: relative;
}

.button:hover {
    font-family: var(--fbItalic);
    background-color: black; 
    color: var(--colorPink);
}

.button:hover, .filter a:hover, .project-grid a:hover { 
  color: var(--colorPink);
}

.filter a:hover, .project-grid a:hover {
  background-color: var(--colorBlack);
}


.prevnext {
  display: flex;
  justify-content: space-between;
  padding-top:  var(--scaThree)
}

/* DARK THEME */

body.dark-theme #contributions, body.dark-theme .button, body.dark-theme .filter a, body.dark-theme .project-grid a  {
  color: var(--colorPink);
}

body.dark-theme .button, body.dark-theme .filter a, body.dark-theme .project-grid a {
  border-color: var(--colorPink);
}

body.dark-theme .button:hover, body.dark-theme .filter a:hover, body.dark-theme .project-grid a:hover {
  color: var(--colorBlack);
  background-color: var(--colorPink);
}

body.dark-theme #contributions svg {
  fill: var(--colorPink);
}

/* 2.2 Grids */
.filter, .project-grid {
  display:grid;
  grid-gap: var(--scaFour);
  margin-bottom: var(--scaThree);
  justify-content: center;
  text-transform: capitalize;
}

.project-grid h5 {
  margin-bottom: 0;
}

.project-grid h5, .project-grid .details p:first-child {
  text-align: center;
}
.details p {
  font-size: 1.25rem;
}

.details article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.description {
  font-family: var(--fBody);
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.keywords p {
  margin-right: var(--scaFactor);
  font-size: 1rem;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.filter a {
  flex: 0 0 20%;
}

.filter a, .project-grid a {
  border: var(--borderStroke);
  font-family: var(--fHeading);
  padding: var(--scaThree);
  border-radius: 50px;
}

.project-grid a figure {
  margin: 0;
}

.project-grid a figure img {
  object-fit: contain;
}



/* 3.0 KIRBY */
.grid {
  --columns: 12;
  --gutter: 3rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}
.grid > .column {
  margin-bottom: var(--gutter);
}

.autogrid {
  --gutter: 3rem;
  --min: 10rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  grid-auto-flow: dense;
}