/* Variables should be added in the var.css page */

/* 1.0 HTML ELEMENTS */
/* 1.1 Containers */
/* 1.1.1 Body */

body {
    background-color: var(--bgColor);
    font-family:'Tiresias PC Font';
    margin: 0;
    padding-bottom: 80px;
}

main {
    padding-top: 60px;
}

/* 1.1.2 Header & Navigation */
header {
    background-color: var(--navColor);
    padding: var(--pxFive) var(--pxFive);
    display: grid;
    grid-template-columns: 4fr 4fr;
    position: fixed;
    width: calc(100% - calc(var(--pxFive) * 2));
    
}
/* // Navigation Items */
header nav {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: black;
    margin-right: var(--scaFive);
}

header nav a:hover {
    font-family: 'Avara Bold Italic';
    text-decoration: underline;
}

/* 1.1.3 Toggles */
/* Wrapper */
header section {
    display: flex;
    justify-content: flex-end;
    grid-template-columns: auto auto;
}

/* Toggle Wrapper */
header section article {
    display: flex; 
    align-items: center;
    justify-self: flex-end;
    margin-left: var(--fixFive);
}

header section article:first-of-type, header nav a:last-of-type {
    margin-left: 0;
    margin-right: 0; 
}

/* Toggle Label */
header section article p {
    display: inline-block;
    color: black;
    margin: 0 0 0 var(--scaFactor);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    flex-shrink: 0;
  }

  .switch p {
      color: black;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorWhite);
    border: 1px solid black; 
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--colorPink);
    border: 1px solid black; 
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--colorBlack);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--colorBlack);;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
/* Making Sliders Round */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* 1.2 Fonts */
h1, h2, h3, h4, h5, header nav a  {
    font-family: var(--fHeading);
}

/* Font Sizes */
h1 {font-size: var(--fixOne);}
h2 {font-size: var(--fixTwo);}
h3 {font-size: var(--fixThree);}
h4, header nav a {font-size: var(--fixFour);}
h5 {font-size: var(--fixFive);}

svg {
    display: block;
}

/* 2.0 CLASSES */
/* 2.1 Gradients */

.box-shadow {
    box-shadow: 0px 2px 15px #ccc;
}

footer .gradient {
    position: fixed;
    left: 0px !important;
    bottom: 0px;
    width: 100%;
    height: 80px;

    /* Gradient Compatability */
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.68) 62.39%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.68) 62.39%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.68) 62.39%, rgba(255,255,255,0) 100%);
    background: linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.68) 62.39%, rgba(255,255,255,0) 100%);
    
}

.button {
    color: black;
    text-decoration: none;
    border: var(--borderStroke);
    padding: var(--scaFive) var(--scaThree);
    border-radius: 50px;
    position: relative;
}

.button:hover {
    font-family: 'Tiresias PC Font Italic';
    background-color: black; 
    color: white;
}