
@media screen and (min-width: 960px) {  
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }

  main{
    max-width: var(--mainSize);
  }

   .project-grid, .filter {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

}

@media screen and (min-width: 1200px) {   
  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }

  .filter {
    grid-template-columns: repeat(5, minmax(10rem, 1fr));
  }

  main{
    max-width: var(--deskSize);
  }
  }

@media screen and (min-width: 1500px) {   
  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  }

@media screen and (max-width: 960px) {
    .project-grid {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    }
    .filter {
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
  }

  
@media screen and (max-width: 767px) {

  header {
    align-items: flex-start;
  }

  header section {
    flex-wrap: nowrap;
  }



  p.callout {
    margin: var(--scaOne) 0;
  }

  h1 {
    padding: 0 var(--scaFive);
  }

  .filter a .svg-container svg {
    max-width: 150px !important;
  }


  header details summary {
    margin: 3px 0;
    height: 17px;
    padding-top: 6px;
  }

.desktop {
    display: none; 
  }

  nav.mobile {
    display: flex; 
  }

  .subnav a {
    font-size: 1.15rem;
  }

  p, li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: var(--pxFactor);
    width: calc(100% - calc(var(--pxFactor) * 2));
    display: block;
  }

  header section article p {
    margin-top: calc(var(--pxFactor) / 2); 
    font-size: .75rem;
  }

  nav details summary {
    padding-left: 0;
    margin: 0;
    height: auto;
  }

  header section {
    margin-top: var(--pxFive);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }

  header section article {
    padding: var(--scaFactor) 0;
  }

  .toggle-desktop {
    display: none;
  }

  .toggle-mobile {
    display: flex;
    justify-content: center;
  }

  .grid .column {
    margin-bottom: 0;
  }

  .grid .column section.blocks:last-child figure {
    margin-bottom: 0;
  }

  .grid .column section.blocks:last-child ul,  .grid .column section.blocks:last-child ol {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .details p {
    font-size: 1rem;
  }

  .filter a, .project-grid a {
    border-radius: 25px;
  }
  .project-grid {
    display: block;

  }
  
  .project-grid a {
    margin-bottom: var(--scaOne);
  }

  .filter {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

}

@media screen and (max-width: 450px) {
  body {
    --multOne: 3;
    --multTwo: 2.75;
    --multThree: 2.66;
    --multFour: 2.33;
    --multFive: 2.25;
  }
  .footnote-backref {
    text-decoration: none;
  }

  main #splash h1 {
    font-size: 2rem !important;
  }

  header section article p {
    font-size: .75rem;
  }
  .filter a .svg-container{
    padding: 0;
  }
  main #splash p {
    font-size: var(--multThree) !important;
  }

  .prevnext {
    display: block;
    margin-top: var(--scaOne);
  }

  blockquote {
    margin: 0 1em;
  }

  .filter a .svg-container svg {
    --maxW: 100px;
  }


  .filter {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }

  .filter a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-grid h5 {
    font-size: var(--fixFour);
  }
}