@media screen and (max-width: 60rem) {
    html {
        font-size: .85rem;
    }
  }

@media screen and (min-width: 60rem) {  
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }
}
  
  @media screen and (max-width: 48rem) {
    html {
        font-size: .7rem;
    }
  }