
@media screen and (min-width: 960px) {  
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }

  .filter, .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

@media screen and (min-width: 1200px) {   
  .filter, .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }
  }

@media screen and (min-width: 1500px) {   
  .filter, .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  }

@media screen and (max-width: 960px) {
    html {
        font-size: .85rem;
    }
  }
  
@media screen and (max-width: 767px) {
  html {
      font-size: .7rem;
  }
}