/* TODO: Write Variables */
/* Variables to Start */
    /* Theme-BG
    Theme-Text
    Theme-link
    Spacing (Size in em if the property scales according to its font-size / Size everything else in rem.)
    Font Sizes */

/* REM for Font
EM for Anything Sizing Based on REM */

/* ***************************************** */
body {

    /* 0.0.1 Colors */
    --colorPink: #F485EC;
    --colorPurp: #CC66FF;
    --colorYell: #FFF799;  
    --colorWhite: white; 
    --colorBlack: black; 

    /* 0.0.2 Sizes */
    --mainSize: 960px; 
    --tabletMax: 767px;
    --tabletMin: 680px;
    --mobileSize: 500px;

    /* 0.0.3 Elements */
    --borderStroke: 3px solid black;
/* ________________________________________ */

    /* 1.0 LIGHT THEME */
    /* 1.1.0 LIGHT THEME VARIABLES */
    --bgColor: var(--colorPink);
    --navColor: var(--colorWhite); 
    color: var(--colorBlack);
/* ________________________________________ */

    /* 1.2.0 FONT VARIABLES */
    /* 1.2.1 Fonts */
    --fHeading: 'Avara Bold';
    --fBody: 'Tiresias PC Font'; 

    --pxFactor: 8px; 
    --pxOne: calc(var(--pxFactor) * 6);
    --pxTwo: calc(var(--pxFactor) * 5);
    --pxThree: calc(var(--pxFactor) * 4);
    --pxFour: calc(var(--pxFactor) * 3);
    --pxFive: calc(var(--pxFactor) * 2);

    /* 1.2.2 Font Sizes */
    --fixFactor: .5rem; 
    --fixOne: calc(var(--fixFactor) * 6);
    --fixTwo: calc(var(--fixFactor) * 5);
    --fixThree: calc(var(--fixFactor) * 4);
    --fixFour: calc(var(--fixFactor) * 3);
    --fixFive: calc(var(--fixFactor) * 2);

/* ________________________________________ */

    /* 1.3.0 LAYOUT */
    /* 1.3.1 Scaling Sizes */
    --scaFactor: .5em; 
    --scaOne: calc(var(--scaFactor) * 6);
    --scaTwo: calc(var(--scaFactor) * 5);
    --scaThree: calc(var(--scaFactor) * 4);
    --scaFour: calc(var(--scaFactor) * 3);
    --scaFive: calc(var(--scaFactor) * 2);   
}

/* ***************************************** */

/* 2.0 DARK THEME */
body.dark-theme {
    /* 2.1.0 Dark Theme Variables */
    --bgColor: var(--colorBlack);
    color: var(--colorWhite);
}

/* ***************************************** */

/* 3.0 Display-P3 COLOR SUPPORT  */
@supports (color: color(display-p3 1 1 1)) {
    body {
        --colorPink: color(display-p3 0.99 0.53 1);
    }
}

