/* TODO: Write Variables */
/* Variables to Start */
    /* Theme-BG
    Theme-Text
    Theme-link
    Spacing (Size in em if the property scales according to its font-size / Size everything else in rem.)
    Font Sizes */

/* REM for Font
EM for Anything Sizing Based on REM */

/* ***************************************** */
body {

    /* 0.0.1 Colors */
    --colorPink: #F485EC;
    --colorPurp: #CC66FF;
    --colorYell: #FFF799;  
    --colorWhite: white; 
    --colorBlack: black; 

    /* 0.0.2 Sizes */
    --monitorSize: 90rem;
    --deskSize: 75rem;
    --mainSize: 60rem; 
    --tabletMax: 48rem;
    --tabletMin: 42rem;
    --mobileSize: 32rem;

    /* 0.0.3 Elements */
    --borderStroke: .25rem solid black;
/* ________________________________________ */

    /* 1.0 LIGHT THEME */
    /* 1.1.0 LIGHT THEME VARIABLES */
    --bgColor: var(--colorPink);
    --navColor: var(--colorWhite); 
    color: var(--colorBlack);
/* ________________________________________ */

    /* 1.2.0 FONT VARIABLES */
    /* 1.2.1 Fonts */
    --fHeading: 'Avara Bold';
    --fhItalic: 'Avara Bold Italic';
    --fBody: 'Tiresias PC Font'; 
    --fbItalic: 'Tiresias PC Font Italic';

    --pxFactor: 8px; 
    --pxOne: calc(var(--pxFactor) * 6);
    --pxTwo: calc(var(--pxFactor) * 5);
    --pxThree: calc(var(--pxFactor) * 4);
    --pxFour: calc(var(--pxFactor) * 3.5);
    --pxFive: calc(var(--pxFactor) * 3);

    /* 1.2.2 Font Sizes */
    --fixFactor: .5rem; 
    --fixOne: calc(var(--fixFactor) * 6);
    --fixTwo: calc(var(--fixFactor) * 5);
    --fixThree: calc(var(--fixFactor) * 4);
    --fixFour: calc(var(--fixFactor) * 3.5);
    --fixFive: calc(var(--fixFactor) * 3);

/* ________________________________________ */

    /* 1.3.0 LAYOUT */
    /* 1.3.1 Scaling Sizes */
    --scaFactor: .5em; 
    --scaOne: calc(var(--scaFactor) * 6);
    --scaTwo: calc(var(--scaFactor) * 5);
    --scaThree: calc(var(--scaFactor) * 4);
    --scaFour: calc(var(--scaFactor) * 3.5);
    --scaFive: calc(var(--scaFactor) * 3);   
}

/* ***************************************** */

/* 2.0 DARK THEME */
body.dark-theme {
    /* 2.1.0 Dark Theme Variables */
    --bgColor: var(--colorBlack);
    color: var(--colorPink);
}

/* ***************************************** */

/* 3.0 Display-P3 COLOR SUPPORT  */
@supports (color: color(display-p3 1 1 1)) {
    body {
        --colorPink: color(display-p3 0.99 0.53 1);
    }
}

