/* ELEMENTS */
h1 + p, .keywords p {
    font-size: var(--fixFive);
    font-family: var(--fHeading);
    text-align: center;
}

h1 + p {font-size: var(--fixFour);}

h1::before, h3::before{ 
    display: block; 
    content: " "; 
    margin-top: -11rem; 
    height: 11rem; 
    visibility: hidden; 
    pointer-events: none;
}

h3:first-child {
    padding-top: 0;
    margin-top: 0;
}

article h4 {
    margin-bottom: calc(var(--scaFactor) / 2);
}

.context article h4, .context article:last-child p { margin-bottom: 0;}

section h4, section h5 {
    margin-bottom: 0;
}

/* CONTAINERS */
/* 1.0 HEADER  */
header {
    padding: 0;
    padding-top: var(--pxSix);
    padding-top: var(--pxSix);
    width: 100%;
}

header nav {padding-left: var(--pxFive); padding-bottom: var(--pxSix);}
header section {padding-right: var(--pxFive); padding-bottom: var(--pxSix);}

/* 2.0 SUBNAV */
.subnav {
    background-color: black;
    padding-top: 12px;
    width: 100vw;
}

.subnav {padding-bottom: var(--pxFactor);}

.subnav a {
    color: white; 
    font-size: 1rem;
}


/* DARK THEME */
.dark-theme .subnav {border-bottom: 1px solid var(--fontColor);}


/* MEDIA QUERIES */
@supports (background-clip: content-box) {
    sup, .footnotes ol li  { 
        padding-top: 9rem;
        margin-top: -9rem;
        -webkit-background-clip: content-box;
        background-clip: content-box;
    }
} 

@media screen and (max-width: 767px) {
    h3::before, h1::before { 
        display: block; 
        content: " "; 
        margin-top: -13rem; 
        height: 13rem; 
        visibility: hidden; 
        pointer-events: none;
      }

      @supports (background-clip: content-box) {
        sup, .footnotes ol li  { 
            padding-top: 10rem;
            margin-top: -10rem;
            -webkit-background-clip: content-box;
            background-clip: content-box;
        }
    } 
    

}
@media screen and (max-width: 500px) { 
    main {
        padding-top: 10em;
    }

    header nav {padding-left: var(--pxFactor); padding-bottom:var(--pxFactor); }
    header section {padding-right: var(--pxFactor); padding-bottom:var(--pxFactor); }
}


