/* ELEMENTS */
section h4 {
    margin: 0;
    text-align: center;
}

/* CLASSES */
.filter {
    margin-top: 0;
}
.filter a:hover {
    text-decoration: line-through;
}
.details p {margin: var(--scaFactor) 0;}

