section h4 {
    margin-bottom: 0;
    text-align: center;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter a {
    flex: 0 0 7%;
}

.filter a:hover {
    font-family: var(--fhItalic);
}

.details p {
    margin: var(--scaFactor) 0;
}