/* 1.0 HTML ELEMENTS */

main {
    max-width: 100%;
}
main #splash {
    min-height: calc(100vh - 12.5rem);
    display: flex;
    flex-direction: column; 
    justify-content: center;

}

main #splash h1 {
    font-size: 5rem;
}

main #splash p {
    font-size: 3rem;
    text-align: center;
    font-family: 'Avara Bold'
}
/* ***************************************** */

/* 1.1 Containers */
main section > * {
    max-width: calc(var(--monitorSize));
    margin-left: auto;
    margin-right: auto;
}

section svg {
    height: 60px;
    width: 60px;
}

/* 1.2 Tags */
h1, h2, h3 {
    text-align: center;
}

/* 2.0 CLASSES */

.button {
    display: table;
}

.filter a p {
    text-transform: capitalize;
    font-size: var(--fixThree);
    margin: 0;
}

/* ***************************************** */

/* 3.0 IDS */
#about {
    background-color: var(--colorYell);
}

#about .button:hover {
    color: var(--colorYell);
}

#contributions .button:hover, #contributions .filter a:hover{ 
    color: var(--colorPink);
}

#contributions .filter a:hover {
    background-color: var(--colorBlack);
}

#resources {
    background-color: var(--colorPurp);
}

#resources .button:hover {
    color: var(--colorPurp);
}

/* ***************************************** */

/* 4.0 DARK THEME */
body.dark-theme #about, body.dark-theme #contributions, body.dark-theme #resources {
    background-color: var(--colorBlack);
}


/* 4.1 About */
body.dark-theme #about {
    color: var(--colorYell);
}

body.dark-theme #about svg {
    fill: var(--colorYell);
}

/* 4.2 Contributions */
body.dark-theme #contributions, body.dark-theme #contributions .button, body.dark-theme #contributions .filter a  {
    color: var(--colorPink);
}

body.dark-theme #contributions .button, body.dark-theme #contributions .filter a {
    border-color: var(--colorPink);
}

body.dark-theme #contributions .button:hover, body.dark-theme #contributions .filter a:hover {
    color: var(--colorBlack);
    background-color: var(--colorPink);
}

body.dark-theme #contributions svg {
    fill: var(--colorPink);
}

/* 4.3 Resources */
body.dark-theme #resources, body.dark-theme #resources .button {
    color: var(--colorPurp);
} 

body.dark-theme #resources .button {
    border-color: var(--colorPurp);    
}

body.dark-theme #resources .button:hover {
    color: var(--colorBlack);
    background-color: var(--colorPurp);
}

body.dark-theme #resources svg {
    fill: var(--colorPurp);
}