/* 1.0 ELEMEMTS */
h1, h2, h3, main #splash p {
    text-align: center;
}

/* 1.1 CONTAINERS */
main section > * {
  max-width: calc(var(--deskSize));
  margin-left: auto;
  margin-right: auto;
}

main {
  min-height: 100vh;
}

main section {
  padding: calc(var(--scaOne) * 3);
  margin: var(--scaOne) 0;
}

/* 2.0 CLASSES */
.button {
    display: table;
}

.filter a {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
  }

  

.filter a p {
    font-size: var(--fixThree);
    margin: 0;
}

/* 3.0 IDS */
#about {
    --bgColor: var(--colorYell);
    background-color: var(--bgColor);
    margin-top: 0;
}

#resources {
    --bgColor: var(--colorPurp);
    background-color: var(--bgColor);
}


/* SPLASH PAGE */
main {
  padding-top: 0;
  max-width: 100%;
  overflow-x: hidden;

}
main #splash {
  width:100vw;
  position: relative;
  padding: 0;
  min-height: 99vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  overflow: hidden;
  margin: 0;
  border-bottom: 6px solid var(--fontColor);
  pointer-events: none !important;

}

#splash h1, #splash p {
  padding: var(--pxFive);
  border: var(--borderStroke);
  border-radius: 100px;
  background-color: white;
  margin: 0 auto; 
  position: relative;
  z-index: 1;
}

main #splash h1 {
  font-size: calc(var(--fixFactor) * 8);
  margin-bottom: var(--pxFive);
}

main #splash p {
font-size: calc(var(--fixFactor) * 4);
  font-family: var(--fHeading);
}

/* ANIMATION */
.container {
    width: 100%;
    top: 60%;
    left: 40%;
    position: absolute;
    z-index: -1;
    transform: translate(-50%, -50%);

  }
  .container > .row {
    position: relative;
    float: left;
    width: 100%;
    clear: both;
  }
  .container > .row > .loader {
    position: relative;
    display: inline-block;
    height: 10vw;
    width: 10vw;
  }
  .container > .row > .loader > .lines {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;
  }
  .container > .row > .loader > .lines > span {
    -webkit-animation: shift-background 3s infinite cubic-bezier(1, 0.5, 0.25, 0.5);
            animation: shift-background 3s infinite cubic-bezier(1, 0.5, 0.25, 0.5);
    background-color: white;
    position: absolute;
    width: 2vw;
    height: 3px;
  }
  .container > .row > .loader > .lines > span::before {
    background-color: inherit;
    height: 2vw;
    position: absolute;
    content: "";
    width: 3px;
  }
  .container > .row > .loader > .lines > span:nth-child(1), .container > .row > .loader > .lines > span:nth-child(4), .container > .row > .loader > .lines > span:nth-child(1)::before, .container > .row > .loader > .lines > span:nth-child(4)::before {
    left: 0;
  }
  .container > .row > .loader > .lines > span:nth-child(2), .container > .row > .loader > .lines > span:nth-child(3), .container > .row > .loader > .lines > span:nth-child(2)::before, .container > .row > .loader > .lines > span:nth-child(3)::before {
    right: 0;
  }
  .container > .row > .loader > .lines > span:nth-child(1), .container > .row > .loader > .lines > span:nth-child(2), .container > .row > .loader > .lines > span:nth-child(1)::before, .container > .row > .loader > .lines > span:nth-child(2)::before {
    top: 0;
  }
  .container > .row > .loader > .lines > span:nth-child(3), .container > .row > .loader > .lines > span:nth-child(4), .container > .row > .loader > .lines > span:nth-child(3)::before, .container > .row > .loader > .lines > span:nth-child(4)::before {
    bottom: 0;
  }
  .container > .row:nth-child(even) > .loader:nth-child(even) > .lines {
    -webkit-animation: rotate-right 3s infinite cubic-bezier(1, 0.5, 0.25, 0.5);
            animation: rotate-right 3s infinite cubic-bezier(1, 0.5, 0.25, 0.5);
  }
  .container > .row:nth-child(even) > .loader:nth-child(odd) > .lines {
    -webkit-animation: rotate-left 3s infinite cubic-bezier(1, 0.5, 0.25, 0.5);
            animation: rotate-left 3s infinite cubic-bezier(1, 0.5, 0.25, 0.5);
  }
  .container > .row:nth-child(odd) > .loader:nth-child(even) > .lines {
    -webkit-animation: rotate-left 3s infinite cubic-bezier(1, 0.5, 0.25, 0.5);
            animation: rotate-left 3s infinite cubic-bezier(1, 0.5, 0.25, 0.5);
  }
  .container > .row:nth-child(odd) > .loader:nth-child(odd) > .lines {
    -webkit-animation: rotate-right 3s infinite cubic-bezier(1, 0.5, 0.25, 0.5);
            animation: rotate-right 3s infinite cubic-bezier(1, 0.5, 0.25, 0.5);
  }
  
  @-webkit-keyframes rotate-right {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(135deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
  
  @keyframes rotate-right {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(135deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
  @-webkit-keyframes rotate-left {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(-135deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-180deg);
    }
  }
  @keyframes rotate-left {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(-135deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-180deg);
    }
  }
  @-webkit-keyframes shift-background {
    0%, 100% {
      background-color: #3A1443;
    }
    25% {
        background-color: #FFF799;
    }
    50% {
        background-color: #CC66FF;
    }
    75% {
      background-color: white;
    }
  }
  @keyframes shift-background {
    0%, 100% {
        background-color: #F485EC;
      }
      25% {
        background-color: #FFF799;
    }
    50% {
        background-color: #CC66FF;
    }
      75% {
        background-color: white;
      }
  }

/* 4.0 DARK THEME */
body.dark-theme #about {
    --fontColor: var(--colorYell);
    --borderStroke: .25rem solid var(--fontColor);
}

body.dark-theme #splash h1, body.dark-theme #splash p {
  background-color: black;
}

body.dark-theme #resources {
    --fontColor: var(--colorPurp) !important;
    --borderStroke: .25rem solid var(--fontColor);
}

body.dark-theme #about, body.dark-theme #contributions, body.dark-theme #resources {
    --bgColor: black;
    background-color: var(--bgColor);
    border-bottom: .25rem solid var(--fontColor);
}