body {
    background-color: var(--colorPurp);
}

body.dark-theme {
    background-color: var(--colorBlack);
    color: var(--colorPurp) ;
}

body.dark-theme .project-grid a {
    color: var(--colorPurp);
}

body.dark-theme .project-grid a {
    border-color: var(--colorPurp);
}

.project-grid a:hover {
    background-color: var(--colorBlack);
    color: var(--colorPurp);
}

body.dark-theme .project-grid a:hover {
    background-color: var(--colorPurp);
    color: var(--colorBlack);
}

